.navbar {
        padding: 0px;
}

body {
    -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select:none;
  user-select:none;
  -o-user-select:none;
}

.mastfoot {
    height: 50px;
    color: white;
    padding: 15px;
    background-color: #333333;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    
}

div#main-kanban {
  top: 100px;
  position: absolute;
  cursor: default;
  right: 0;
  left: 0;
  bottom: 50px;
  
}

div#content-kanban {
  
  position: relative;
  left: 0;
  right: 0;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  background: white;
  padding-bottom: 70px;
  float: left;
}

div#board-container {
    position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  margin-bottom: -100px;
  
}



#kanban-header {
   
  padding-left: 10px;
  margin-top: -40px;
  float: left;
  padding-bottom: 80px;
}


#kanban-header h1{
    position: fixed;
}


.kanban-border {
    height: 100%;
    
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
}

.kanban-board-footer {
    color: black;
     background-color: #dcd0c0;
     text-align: center;
     border-bottom-left-radius: 10px;
     border-bottom-right-radius: 10px;
     
}

.addingCard:hover {
    background-color: #c0b283;
     
}

.addingCard {
    display: inline-block;
        background-color: #dcd0c0;
        width: 100%;
        padding: 10px 0px;
        border-bottom-left-radius: 10px;
     border-bottom-right-radius: 10px;
     cursor: pointer;
}

.newCardOption {
    display: block;
    text-align: left;
}

.submitButton {
    color: white;
    background-color: #373737;
    display: inline-block;
    padding: 5px 0px;
    width: 60px;
    margin-left: 10px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.cancelButton {
    display: inline-block;
    width: 20px;
    cursor: pointer;
    margin-right: 10px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    float: right;
    
}

.cancelButton:hover {
    text-decoration: none;
    color: #373737;
    
}



.kanban-container {
    background-color: #dcd0c0;
    overflow-y: auto;
    max-height: 100%;
    padding: 0px 10px;
    width: 300px;
}





.list-group-item {
    border-radius: 4px;
    margin: 5px 0px;
    cursor: pointer;
    width: 100%;
}

.list-group-item:hover {
    background-color: #e2e2e2;
}

.newCard {
    background-color: white;
    border-radius: 4px;
    
}

/*.newCardTextBox {
    height: 100%;
    border-radius: 4px;
    width: 100%;
    border: 0px;
    border-color: white;
    padding: 0px;
    margin: 0px;
    background-color: red;
}

.newCardTextBox:focus {
    border: 0px;
    border-color: white;
}*/

#to-do-form .hidden {
    display: none;
}

.newCardTextBox {
    
    resize: vertical;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
}


input:focus {
    border: 0px;
    border-color: white;
    
}

input:active {
    border: 0px;
    border-color: white;
}

.kanban-board-heading {
    background-color: #dcd0c0;
    color: black;
    text-align: left;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.kanban-name {
    padding: 0px;
    margin: 0px;
}

form {
  padding: 0px;
  margin: 0px;
}


/*div.kanban-individual {
  display: inline-block;
  vertical-align: top;
  width: 320px;
  
    
  float: left;
  background-color: gray;
  
  -webkit-transition: background 0.3s linear;
  -moz-transition: background 0.3s linear;
  -o-transition: background 0.3s linear;
  -ms-transition: background 0.3s linear;
  transition: background 0.3s linear;
}*/

ul.kanban-draggable {
    margin: 0px;
    padding-bottom: 5px;
    text-align: left;
    color: black;
}

.editButton {
    position: absolute;
    opacity: 0;
    padding: 1px 3px;
    border-radius: 4px;
    right: 9px;
    top: 9px;
}

.deleteArchivedTask {
    position: absolute;
    cursor: pointer;
    padding: 3px 3px;
    border-radius: 4px;
    right: 6px;
    top: 6px;
    opacity: 0;
}

#edit-textbox {
    height: 100px;
    width: 100%;
    padding: 10px 15px;
    resize: none;
}

.kanban-draggable .ui-sortable-placeholder {
    
    visibility: visible !important;
    opacity: 0.5;
}

.kanban-draggable .ui-sortable-placeholder:hover {
    cursor: pointer;
}

.kanban-draggable .ui-sortable-helper {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}




.fixed-header #header {
  position: fixed;
  width: 100%;
  z-index: 905;
  top: 0px;
  border-bottom: 2px solid #999999;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: -11px 12px 23px rgba(0, 0, 0, 0.1);
}

.smart-style-1 #header {
  background-image: none;
  background-color: #22262e;
}

#header {
  display: block;
  height: 49px;
  margin: 0;
  padding: 0 13px 0 0;
  background-color: #f3f3f3;
  background-image: -moz-linear-gradient(top, #f3f3f3, #e2e2e2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f3f3f3), to(#e2e2e2));
  background-image: -webkit-linear-gradient(top, #f3f3f3, #e2e2e2);
  background-image: -o-linear-gradient(top, #f3f3f3, #e2e2e2);
  background-image: linear-gradient(to bottom, #f3f3f3, #e2e2e2);
  background-repeat: repeat-x;
  position: relative;
  z-index: 905;
}

.header-border {
  border-bottom: 3px solid #c02631 !important;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    
    width: 264px;
    height: 100px;
    border-radius: 4px;
}

#archive-list {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
#archive-list-container {
    background-color: #e2e2e2;;
    margin: auto;
    margin-top: 100px;
    width: 400px;
    height: 70%;
    border-radius: 4px;
    cursor: default;
    text-align: left;
}

#archive-list-container li {
    border: 0px;
    border-color: #e2e2e2;
    background-color: #e2e2e2;
    
}

#archive-list-container li:hover {
    background-color: #cccccc;
    cursor: default;
}

#archive-list-header {
    text-align: center;
    padding-top: 15px;
    font-size: 20px;
    border: 0px;
    border-bottom: 1px #000000;
    border-style: solid;
    margin: 0 10px;
}

#archive-list-content {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: #e2e2e2;
}

.archivedDate {
    text-decoration: underline;
}

.saveButton {
    float: left;
    text-align: left;
    position: absolute;
    
}

.archiveButton {
    float: left;
    text-align: left;
    position: absolute;
    
}

.deleteButton {
    float: left;
    text-align: left;
    position: absolute;
}

#archivedListButton {
    float: left;
    right: 10px;
    top: 80px;
    position: fixed;
    background-color: #c0b283;
    border-color: #c0b283;
    
    padding: 5px 15px;
}

/* The Close Button */
.close {
    color: #333333;
    float: right;
    font-size: 28px;
    font-weight: bold;
    
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

textarea:focus {
    border-color: white;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075) inset, 0 0 0px rgba(126, 239, 104, 0.6);
  outline: 0 none;
}

#content-kanban::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#content-kanban::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#content-kanban::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #dcd0b0;
}

#archive-list-content::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#archive-list-content::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#archive-list-content::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #999999;
}

.kanban-container::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.kanban-container::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
        border-radius: 10px;
}

.kanban-container::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #dcd0b0;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}


@media screen and (max-width: 768px) {
    #kanban-header {
        margin-top: -40px;
    }
    
    div#content-kanban {
        padding-bottom: 70px;

    }
    
    #archivedListButton {
        float: left;
        right: 10px;
        top: 80px;
        position: fixed;
    }
}